.modal-container {
    position: fixed;
    background-color: #fafafa;
    left:50%;
    top: 20%;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-width: 900px;

    -webkit-transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    transform: translate(-50%, -300%);

    -webkit-transition: --webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}

.modal-container h1 {
    margin-top: 0;
}

.modal:before {
    content: "";
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-container {
    --webkit-transform: translate(-50%, 0);
    --ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#modal-close {}